.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.layer {
  position: absolute;
  inset: 0;
  will-change: transform;
}

.sky {
  z-index: 1;
  transform: translateY(var(--sky-offset, 0px));
}

.mountains {
  z-index: 2;
  transform: scale(var(--mountains-scale, 1));
  transform-origin: center;
}

.content {
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  transform: translateY(calc(-12vh + var(--content-offset, 0px)));
}

.gradient {
  z-index: 3;
  position: sticky;
  top: 0px;
  left: 0;
  width: 100vw;
  height: 250px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, var(--gradient-a, 0.8)) 0%,   /* semi-transparent black at top */
    rgba(0, 0, 0, 0) 100%     /* fade to transparent */
  );
}

.content h1 {
  font-size: 100px;
  margin: 0;
}

.num {
  color: #000;
  font-size: 18vw;
  margin: 0;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 6px;
}

.hero_btns {
  margin-top: 55px;
  display: flex;
  gap: 25px;
}

.hero_btns img {
  filter: brightness(0) saturate(100%);
  margin-left: 4px;
  max-height: 20px;
}

.hero_btns .btn:hover img {
  filter: brightness(0) saturate(100%) invert(1);
}

@media screen and (max-width: 960px) {
  .content h1 {
    font-size: 70px;
  }
}

@media screen and (max-width: 768px) {
  .content h1 {
    font-size: 50px;
  }
}
