.profile_page_container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 2rem;
}

.profile_photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  margin-top: 20px;
}

.profile_name {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.profile_role {
  font-size: 1.5rem;
  color: #03045E;
  margin-bottom: 1.5rem;
}

.profile_description {
  font-size: 1rem;
  line-height: 1.6;
  text-align: left;
  max-width: 600px;
  margin: 0 auto;
  letter-spacing: 0.025em;
}

.leadership_link {
  text-decoration: none;
  color: inherit;
}

.leadership_link:hover {
  text-decoration: none;
}

.button_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
